.filtering-buttons-container {
  display: flex;
  flex-direction: row;
  > div:first-of-type {
    flex: 1;
  }
  > div:last-of-type {
    flex: 5;
    margin-left: 100px;
  }
}

.icon-container {
    margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > img {
    width: 80px;
    height: 80px;
  }
}
