$gray-darker: #082032;
$gray-dark: #2C394B;
$gray-light: #334756;
$primary-red: #FF4C29;
$gray: #bdbdbd;
$green: #368B85;
$white-smoke:#F1E9E5;

$black: #221f20;
$white: #ffffff;
$orange: #f7931e;
$green-light: #97dd63;
$blue: #63bded;
$transparent: transparent;

$box-shadow: #00000033;
$dropdown-border-color: #e5e5e5;
$chart-color: #f9f9f9